.todolist_navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(186, 186, 199);
  gap: 30px;
}
.todolist_navigation a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
.todolist_navigation img {
  width: 30px;
  height: 30px;
  margin-left: 50px;
}
.navigation_links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin: auto;
}
.navigation_links span {
  background-color: red;
  width: 20px;
  height: 20px;
  font-size: 16px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  right: -20px;
}

.tasklist_navigation {
  position: relative;
}
